{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('styles/forms.css') }}" rel="stylesheet">
{% endblock %}
{% block title %}Créer une facture!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('styles/forms.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="middle">
        {{ form_start(form) }}
        {{ form_errors(form) }}

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.num_stage) }}
    {{ form_row(form.bdc) }}
    {{ form_row(form.training) }}
    {{ form_row(form.comedian) }}
    {{ form_row(form.company) }}
    {{ form_row(form.inter_date) }}
    {{ form_row(form.paid) }}
    <button type="submit" class="btn">Créer</button>

    {{ form_end(form) }}
{% endblock %}
