{% extends 'base.html.twig' %}

{% block title %}Gestion comédiens & entreprises{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('styles/home.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="middle">
        <div id="first">
            <div class="child1">
                <h1 class="title">Bienvenue, <span>{{ app.user.firstName }} {{ app.user.lastName }}</span> !</h1>
            </div>

            <div class="child2">
                <h2>Vous êtes <span>{{ app.user.roles[0] }}.</span></h2>
            </div>
        </div>

        <div class="child3">
            Petit texte explicatif de ce que l'utilisateur peut faire sur le site (change en fonction du rôle de l'utilisateur).<br>

            {% if is_granted("ROLE_ADMIN") %}
                Dans le header se trouvent plusieurs onglets:<br><br>

                <p>
                    - <b>[ADMIN]</b> Onglet Gestion où l'admin peut CRUD les entreprises partenaires, les comptes comédiens ainsi que les formations ;<br>
                    - <b>[COMEDIEN]</b> Onglet Upload où le comédien peut ajouter ses documents ;<br>
                    - <b>[ADMIN]</b> Onglet Facture où l'admin peut voir toutes les factures des comédiens ainsi que de check les factures déjà payées.<br>
                </p>

            {% endif %}

            {% if is_granted("ROLE_COMEDIAN") %}
                T'es comédien
            {% endif %}
        </div>


    </div>
{% endblock %}

