{% extends 'base.html.twig' %}

{% block title %}[{{ app.user.firstname }}] - Profil{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('styles/profile.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="middle">
        <h1 id="profile-title">{{ profile.firstName }}'s Profile</h1>
        <div class="child1">
            <div class="picture"><img src="{{ asset(handle_profile_picture(profile)) }}" alt="profile_picture"></div>
            <div class="right">
                <div class="bottom">
                    <p class="role">Rôle</p>
                    <button class="edit">Modifier</button>
                </div>
            </div>
        </div>
        <div class="child2">
            {{ form_start(form) }}
            <h3>Addresses</h3>
            <ul class="addresses"
                data-index="{{ form.addresses|length >0 ? form.addresses|last.vars.name +1 : 0 }}"
                data-prototype="{{ form_row(form.addresses) }}">

            </ul>
            <button type="button" class="add_item_link" data-collection-holder-class="addresses">Add an address</button>
            {{ form_end(form) }}
        </div>
    </div>



{% endblock %}

