{% extends 'base.html.twig' %}

{% block title %}Gestion comédiens & entreprises{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('styles/manage.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="middle">
        <div class="creation">
            <div class="child1">
                <div class="title">COMÉDIENS</div>
                <div class="list">
                    {% for comedian in comedians %}
                        <div><p>[{{ comedian.firstName }}] [{{ comedian.lastName }}]</p>
                            <a href="{{ path('profile_show',{id: comedian.id})}}"><</a>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="child3"></div>

            <div class="child2">
                <div class="title">ENTREPRISES</div>
                <div class="list">
                    {% for client in clients %}
                        <div><p>[{{ client.name }}]</p>
                            <a href="{{ path('profile_show',{id: comedian.id})}}"><</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="bottom">
            <a class="child1" href="/register" >AJOUTER UN COMÉDIEN</a>
            <a class="child2">AJOUTER UNE ENTREPRISE</a>
        </div>
    </div>
{% endblock %}

