{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('styles/forms.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="middle">
        <div class="title"><h1>Create new User</h1></div>

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.firstName,{
            label:"First name"
        }) }}
        {{ form_row(registrationForm.lastName,{
            label:"Last name"
        }) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.password) }}
        {{ form_row(registrationForm.roles,{
            label: 'Roles'
        }) }}

        <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
