{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('styles/forms.css') }}" rel="stylesheet">
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCgRU9bdQ3rMJod4xzJYN-5iWpMfPqz10o"></script>

{% endblock %}

{% block content %}
    <div id="middle">
        <div class="title"><h1>Créer une nouvelle entreprise</h1></div>

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.name ) }}
        {{ form_row(registrationForm.phone_number) }}
        {{ form_row(registrationForm.siret) }}

        {% include "utils/address.html.twig" with {"form":registrationForm} %}
        <button type="submit" class="btn">Créer</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
