{{ form_start(registrationForm) }}
        {{ form_errors(registrationForm) }}

        {{ form_row(registrationForm.firstName, {"label":"Prénom"})}}
        {{ form_row(registrationForm.lastName, {"label":"Nom"})}}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.phoneNumber, {"label":"Entrez votre N° de téléphone"}) }}
        {% if registrationForm.password is defined %}
            {{ form_row(registrationForm.password) }}
        {% endif %}
        {% if registrationForm.roles is defined %}
            {{ form_row(registrationForm.roles, {"label":"Rôle"}) }}

        {% endif %}
            {{ form_row(registrationForm.imageFile) }}

        {% include "utils/address.html.twig" with {"form":registrationForm} %}

<button type="submit" class="btn">Ajouter</button>
{{ form_end(registrationForm) }}