{{ form_start(registrationForm) }}
        {{ form_errors(registrationForm) }}

        {{ form_row(registrationForm.firstName, {"label":"Prénom"})}}
        {{ form_row(registrationForm.lastName, {"label":"Nom"})}}
        {{ form_row(registrationForm.email) }}
<<<<<<< HEAD
        {{ form_row(registrationForm.phoneNumber) }}
        {% if registrationForm.password is defined %}
            {{ form_row(registrationForm.password) }}
        {% endif %}
        {% if registrationForm.roles is defined %}
            {{ form_row(registrationForm.roles) }}

        {% endif %}
            {{ form_row(registrationForm.imageFile) }}
=======
        {{ form_row(registrationForm.password)}}
        {{ form_row(registrationForm.roles, {"label":"Rôle"})}}
        {{ form_row(registrationForm.imageFile) }}
>>>>>>> julie
        {% include "utils/address.html.twig" with {"form":registrationForm} %}

<button type="submit" class="btn">Ajouter</button>
{{ form_end(registrationForm) }}